[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-colors-solarized"]
  path = .vim/bundle/vim-colors-solarized
  url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-commentary"]
  path = .vim/bundle/vim-commentary
  url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-coffee-script"]
  path = .vim/bundle/vim-coffee-script
  url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-colorsupport"]
	path = .vim/bundle/vim-colorsupport
	url = https://github.com/vim-scripts/colorsupport.vim
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
